@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

html * {
  font-family: 'Exo', sans-serif;
}

button {
  border-radius: 25px 25px 25px 25px;
  border: solid 2px #09525a;
  background-color: transparent;
  color: #09525a;
  font-weight: bold;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

.date {
  margin: 30px;
  font-size: 20px;
  justify-self: end;
  align-self: center;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

img {
  width: 120px;
  height: 120px;
}

input {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 25px 25px 25px 25px;
  width: 300px;
  outline: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.location {
  margin-bottom: 30px;
  font-size: 60px;
}

.search-bar {
  justify-self: end;
  align-self: center;
}

.soft-box {
  display: grid;
  font-size: 40px;
  background-color: white;
  width: 150px;
  height: 150px;
  color: #4f5859;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px 15px 15px 15px;
  opacity: 0.8;
}

.soft-box > h3,
img {
  font-size: 38px;
  justify-self: center;
  align-self: center;
}

::placeholder {
  color: white;
  padding: 5px;
}

.spinner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
